.brand__container {
    .brand__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .25rem;

        font-size: 20px;
        font-weight: 600;
        font-style: lowercase;

        user-select: none;

        .brand__left-part {
            color: var(--p-primary-500);
        }

        .brand__right-part {
            color: #fff;
            letter-spacing: -2px;
            padding: .1rem .75rem .1rem .5rem;
            background-color: var(--p-primary-500);
            border-radius: 2px 0 2px 2px;
            position: relative;
            
            --brand-corner-size: .75rem;

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
            }

            &::after {
                border-radius: 0 0 0 2px;
                border-bottom: var(--brand-corner-size) solid #e73c7e;
                border-right: var(--brand-corner-size) solid transparent;
            }

            &::before {
                border-top: var(--brand-corner-size) solid var(--background-color-50);
                border-left: var(--brand-corner-size) solid transparent;
            }
        }
    }
}