.kanban-board-item__container {
    height: 100%;
    flex: 1 1 auto;
    min-height: 0;
    padding: var(--padding-l);
    border-radius: var(--radius-l);
    background-color: var(--background-color-100);

    &.kanban-board-item__container.is-drag-over-allowed .kanban-board-item__wrapper {
        border-color: var(--p-primary-500);
        background-color: var(--background-color-200);
    }

    &.kanban-board-item__container.is-drag-over-forbidden .kanban-board-item__wrapper {
        border-color: var(--background-color-500);
        background-color: var(--background-color-200);
    }

    .kanban-board-item__wrapper {
        height: 100%;
        width: 100%;
        border-radius: var(--radius-m);
        background-color: var(--background-color-50);
        border: 1px solid var(--background-color-300);
        padding: var(--padding-l);
        display: flex;
        flex-direction: column;
        gap: var(--gap-m);

        .kanban-board-item-header__title {
            font-weight: 600;
            font-size: 1.125rem;
        }

        .kanban-board-item-sections__wrapper {
            flex: 1 1 auto;
            min-height: 0;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: var(--gap-m);

            .kanban-board-item-section__wrapper {
                display: flex;
                flex-direction: column;
                gap: var(--gap-s);
                flex: 1 1 auto;
                min-height: 0;
                overflow-y: auto;

                .kanban-board-item-section__header {
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-s);

                    .kanban-board-item-section__title {
                        font-weight: 500;
                        font-size: .875rem;
                        color: var(--p-text-muted-color);
                    }

                    .kanban-board-item-section__add {
                        width: 100%;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: var(--radius-m);
                        border: 1px dashed var(--background-color-300);
                        color: var(--background-color-300);
                        font-size: .875rem;
                        cursor: pointer;
                    }
                }

                .kanban-board-item-section-list {
                    flex: 1 1 auto;
                    min-height: 0;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-s);

                    .kanban-card {
                        &.is-draggable {
                            cursor: grab;
                        }
                    }
                }
            }
        }
    }
}