.preview-document__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);

    .preview-document__header,
    .preview-document__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .preview-document__content {
        width: 100%;
        height: 100%;
        display: flex;
        min-height: 0;
        gap: var(--gap-xl);

        .preview-document__image {
            max-width: 50%;
            height: 100%;
            background-color: var(--background-color-100);
            border-radius: var(--radius-l);
            padding: var(--padding-l);
            display: flex;
            align-items: center;
            justify-content: center;

            &.loading {
                min-width: 30%;
            }

            img {
                width: 100%;
                // height: inherit;
                max-height: -webkit-fill-available;
                object-fit: contain;
                border-radius: var(--radius-m);
                border: 1px solid var(--background-color-300);
                cursor: pointer;

                transition: .2s filter ease-in;
                
                &:hover {
                    filter: contrast(.85);
                }
            }
        }

        .preview-document__informations {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--gap-m);

            .preview-document__informations-content {
                flex: 1;
                min-height: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: var(--gap-m);

                >*:not(p-selectbutton) {
                    flex: 1 1 auto;
                    min-height: 0;
                    overflow-y: scroll;
                }

                .preview-document__no-data {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .preview-document__informations-footer {
                display: flex;
                justify-content: flex-end;
                gap: var(--gap-s);
            }
        }
    }
}