.kanban-board__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);

    .kanban-board-search__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--gap-m);
        text-wrap: nowrap;
        font-size: .875rem;

        p-multiselect,
        p-select {
            min-width: 256px;
            max-width: 256px;
        }
    }

    .kanban-board__wrapper {
        width: 100%;
        height: 100%;
        min-height: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: var(--gap-l);

        app-kanban-item {
            grid-area: 1;
            width: 100%;
            min-height: 0;
        }
    }
}