.table-forms__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);

    .table-forms__label {
        font-size: .875rem;
        font-weight: 600;
    }

    .table-forms__group-items {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
        overflow-x: auto;

        .table-forms__item {
            display: flex;
            flex-direction: column;

            .table-forms__item-label {
                font-size: 12px;
                text-wrap: nowrap;
            }
        }
    }
}