.preview-agent__container {
    width: 100%;
    height: 100%;
    padding: var(--padding-l);
    border-radius: var(--radius-l);
    background-color: var(--background-color-100);

    .preview-agent__wrapper {
        width: 100%;
        height: 100%;
        border-radius: var(--radius-m);
        background-color: var(--background-color-50);
        border: 1px solid var(--background-color-300);
        padding: var(--padding-l);

        .preview-agent__model-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-l);

            .model-wrapper__header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .model-wrapper__header-leftside {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    gap: var(--gap-m);

                    .model-wrapper__header-name {
                        font-size: 1.125rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}