.preview-document-details__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-l);

    &.mobile {
        grid-template-columns: 1fr !important;
    }

    &:not(.mobile) .extended {
        grid-column: span 2;
    }

    app-table-forms {
        overflow-x: auto;
    }
}