.attribute-configuration-form__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-m);

    .flex {
        width: -webkit-fill-available !important;
    }

    .form__inputs-group {
        width: auto;
    }
    
    .attribute-rule__wrapper {
        padding: .3rem;
        background-color: var(--background-color-200);
        border-radius: .6rem;
    }
}

.width-32 {
    width: 32px;
    max-width: 32px;
    min-width: 32px;
}

.width-48 {
    width: 48px;
    max-width: 48px;
    min-width: 48px;
}

.width-64 {
    width: 64px;
    max-width: 64px;
    min-width: 64px;    
}

.width-128 {
    width: 128px;
    max-width: 128px;
    min-width: 128px;
}

.width-256 {
    width: 256px;
    max-width: 256px;
    min-width: 256px;
}