.app__container {
    overflow: hidden;
    padding: var(--padding-l);
    width: 100dvw;
    height: 100dvh;

    .app__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-l);

        .header__container {
            width: 100%;
            height: var(--height-static-header);

            .header__wrapper {
                gap: var(--gap-l);

                app-brand {
                    width: var(--width-static-sidebar);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                app-header {
                    flex: 1;
                    height: 100%;
                }
                
                &.mobile {
                    app-brand { flex: 1; }
                    app-header { flex: none; width: auto; }
                }
            }
        }

        .content__container {
            width: 100%;
            overflow-y: auto;
            flex: 1;

            .content__wrapper {
                gap: var(--gap-l);

                app-sidebar {
                    width: var(--width-static-sidebar);
                    height: 100%;
                }
            }
        }

        .header__wrapper,
        .content__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

::ng-deep {
    .content__wrapper .content__router-outlet {
        height: 100%;
        flex: 1;
        min-height: 0;
        overflow: hidden;

        >*:not(router-outlet) {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            width: 100%;
        }
    }
}