<div class="app__container">
    @if (user) {
    <div class="app__wrapper">
        <div class="header__container">
            <div class="header__wrapper" [class.mobile]="deviceService.isMobileSize">
                <app-brand />
                <app-header />
            </div>
        </div>
        <div class="content__container">
            <div class="content__wrapper">
                @if (!deviceService.isMobileSize) {
                <app-sidebar />
                }
                <div class="content__router-outlet">
                    <router-outlet />
                </div>
            </div>
        </div>
    </div>
    } @else {
        <router-outlet />
    }
</div>