.preview-document-globals__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-l);

    &.mobile {
        grid-template-columns: 1fr !important;
    }

    .extended {
        grid-column: span 2;
    }
}