.user-avatar-details__wrapper {
    display: flex;
    align-items: center;
    gap: var(--gap-m);

    .user-avatar-details-left__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        user-select: none;

        .user-fullname {
            font-size: 14px;
            font-weight: 600;
        }

        .user-email {
            font-size: 12px;
            color: var(--p-text-muted-color);
        }
    }

    .user-avatar-details-right__wrapper {
        .user-avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: var(--background-color-200);
        }
    }
}