.form__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    .group-inputs {
        width: 100%;
        display: flex;
        align-items: center;
        gap: .25rem;

        .p-inputtext {
            width: 100%;
        }
    }

    p-button {
        width: min-content;
    }
}