.sidebar__container {
    width: 100%;
    height: 100%;

    .sidebar__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--gap-l);

        .menu__container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-l);

            .menu__wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--gap-m);

                .menu__label {
                    margin-left: var(--margin-l);
                    font-size: 12px;
                    font-weight: 600;
                    user-select: none;
                }

                .menu__items {
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-s);
                }
            }
        }
    }
}