.config-switch {
  display: grid;
  gap: 1rem;

  .cases {
    display: grid;
    gap: 0.75rem;
  }

  .case {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 0.5rem;
    align-items: center;
  }
}
