.dialog-ai-agent__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);

    .dialog-ai-agent__modes-wrapper {
        display: flex;
        gap: var(--gap-l);

        .ai-agent-mode__wrapper {
            display: flex;
            align-items: center;
            gap: var(--gap-s);
            font-size: .75rem;
        }
    }

    .dialog-ai-agent__actions-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: var(--gap-s);
    }

    .dialog-ai-agent__generating-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .shine-link {
            position: relative;
            display: inline-block;
            padding: 2px 6px;
            text-decoration: none;
            overflow: hidden;
            font-size: 1rem;
            font-weight: 500;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -50%;
                width: 40%;
                height: 100%;
                background: linear-gradient(120deg,
                        transparent,
                        var(--p-dialog-background),
                        transparent);
                animation: shine 1.8s ease-in-out infinite;
                opacity: 0.6;
            }
        }

        .dialog-ai-agent__generating-detail {
            font-size: .75rem;
            font-weight: 500;
            color: var(--p-text-muted-color);
        }
    }
}

@keyframes shine {
    0% {
        left: -60%;
    }

    100% {
        left: 120%;
    }
}